# Файлы виртуального окружения
venv/
.env/

# Системные и кэш-файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE файлы
.idea/
.vscode/

# Логи
*.log

# Файлы настроек
*.env
.env

# Google Cloud и другие секретные файлы
*.json
!config.json.example
!processing_status.json
!package.json
!package-lock.json
credentials/
service-account*.json
*-credentials.json
*-service-account.json
takefinace-1648e5de7102.json

# Временные файлы
*.tmp
*.temp